:root {
  --theme-color: #1890ff;
}

html {
  font-family: sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media screen and (max-width: 768px) {
  .app-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 45px 0 0;
    margin: 0;
    pointer-events: none;
    z-index: 9999;
  }
  .app-nav::after {
    position: fixed;
    content: ' ';
    width: calc(100% - 45px);
    height: 45px;
    top: 0;
    left: 0;
    display: block;
    pointer-events: auto;
    z-index: -1;
  }
  .app-nav * {
    padding: 0;
    pointer-events: all;
  }
  .sidebar {
    z-index: 999;
  }
  .sidebar-toggle {
    top: 0;
    bottom: auto;
    left: 0;
    background-color: #fff !important;
    width: 100% !important;
    height: 45px;
    padding: 0;
    pointer-events: none;
  }
  .sidebar-toggle-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    padding: 15px;
    pointer-events: initial;
  }
  .content {
    padding-top: 45px;
    background-color: #eee;
  }
  .markdown-section {
    max-width: 100%;
    min-height: calc(100vh - 45px);
    padding: 15px 15px 20px;
  }
}
